ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.custom {
    margin-top: 72px;
    min-height: calc(100vh - 72px);
    float: right;
}
.custom i {
    margin-left: 10px;
    margin-bottom: 0;
}
.main {
    margin-left: 160px;
    font-size: 18px;
    padding: 0px 10px;
}
