.img {
    background-size: cover;
    width: 100%;
}

@media screen and (min-width: 601px) {
    .img:hover {
        animation-name: toUp;
        position: relative;
        animation-fill-mode: forwards;

        animation-duration: 0.5s;
    }
}

@media screen and (max-width: 600px) {
    .nowplay p {
        font-size: 10px;
    }
}

@keyframes toUp {
    from {
        top: 0px;
    }
    to {
        top: -10px;
    }
}
.link {
    color: black;
}
.link:hover {
    color: blue;
    text-decoration: none;
}
.filmName {
    font-size: 15px !important;
    word-break: break-all;
}
