.img {
    background-size: cover;
    width: 100%;
}

@media screen and (min-width: 601px) {
    .amin i,
    p {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .amin i,
    p {
        font-size: 12px;
    }
}
