.register {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d1e0e0;
}

@media screen and (max-width: 600px) {
    .register button[type='submit'] {
        width: 100%;
    }
}
.login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.login .card-header {
    background-color: #2273f5;
}
.login form {
    width: 50%;
}
.auth i span {
    color: white;
    font-family: 'Roboto' !important;
    padding: 6px;
    border-radius: 2px;
}
.auth i {
    color: white;
    padding: 5px;
    width: 30%;
    border-radius: 2px;
}
.auth i:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .login form {
        width: 85%;
    }
    .auth i {
        color: white;
        padding: 20px;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 2px;
    }
}
.loginLink {
    color: blue !important;
}
.loginLink:hover {
    color: darkblue !important;
    text-decoration: none;
}
