.card {
    direction: ltr;
}
.card-footer {
    display: flex;
    justify-content: right;
}
.ops {
    background-color: white;
    left: 2%;
    padding: 10px;
    width: 45%;
}
.ops1 {
    position: absolute;
    right: 2%;
}
